<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Iaroslav Titov Portfolio</title>
	<link rel="stylesheet" href="~/styles/style.css" />
	<script type="module" src="~/scripts/animations.js"></script>
	@RenderSection("Scripts")
</head>
	<body>
		<header>
			<a href="@ViewBag.LeftLink.Value" class="textAlignRight">@ViewBag.LeftLink.Key.ToUpper()</a>
			<img src="~/images/logo.png" />
			<a href="@ViewBag.RightLink.Value">@ViewBag.RightLink.Key.ToUpper()</a>
		</header>

	@RenderBody()

	</body>
</html>