<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Iaroslav Titov Portfolio</title>
	<link rel="stylesheet" href="~/styles/style.css" />
	<script type="module" src="~/scripts/animations.js"></script>
	@RenderSection("Scripts")
</head>
	<body>
		<header>
			<a href="@ViewBag.LeftLink.Value" class="textAlignRight">@ViewBag.LeftLink.Key.ToUpper()</a>
			<img src="~/images/logo.png" />
			<div class="skills">
				<a class="contact" id="skypeContact" href="https://join.skype.com/invite/vyPJl4tK2Mzf">
					<img src="images/skype.png" alt="message icon">
				</a>
				<a class="contact" id="mailContact" href="mailto:iaroslav.titov@gmail.com">
					<img src="~/images/mail.png" alt="message icon">
				</a>
				<a class="contact" id="textContact" href="tel:1-510-220-1227">
					<img src="~/images/messageIcon.png" alt="message icon">
				</a>
			</div>
			<a href="@ViewBag.RightLink.Value">@ViewBag.RightLink.Key.ToUpper()</a>
		</header>

	@RenderBody()

	</body>
</html>