@model Portfolio.Models.ProjectEntity

	<div class="project" id="project@(Model.Id)">

		<div class="slide">
			<img src="@Model.images[0]" />
			<h1>@Model.Title<span>@Model.Genre</span></h1>

			<p>@Model.Description</p>
			<div class="skillFlex">
				@foreach (var skill in Model.skills)
				{
					<a class="skill">@skill.SkillName</a>
				}
			</div>
			<div class="linkFlex">
				@foreach (var link in Model.links)
				{
					<a class="link" href="@link.Link">@link.Title</a>
				}
			</div>
			<img class="arrow" src="~/images/arrow.png">
		</div>

		@foreach (var video in Model.videos)
		{
	<video class="slide" loop>
		<source src="@video.Link" type="video/mp4">
		<source src="@video.Link2" type="video/webm">
		Your browser does not support the video tag.
	</video>
		}

		@for (int i = 1; i < Model.images.Count; i++)
		{
			<img loading="eager" src="@Model.images[i]" class="slide" />
		}

	</div>
