@model Portfolio.Models.ProjectEntity

	<div class="project" id="project@(Model.Id)">

		@{ bool firstSlide = true; }

		<div class="slide">
			<img src="@Model.images[0]" />
			<h1>@Model.Title</h1>
			<h3>@Model.Genre</h3>
			<p>@Model.Description</p>
			<div class="skillFlex">
				@foreach (var skill in Model.skills)
				{
					<a class="skill">@skill.SkillName</a>
				}
			</div>
			<div class="linkFlex">
				@foreach (var link in Model.links)
				{
					<a class="link" href="@link.Link">@link.Title</a>
				}
			</div>
		</div>

		@foreach (var video in Model.videos)
		{
			<video class="slide" loop controls>
				<source src="@video.Link" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		}

		@for (int i = 1; i < Model.images.Count; i++)
		{
			<img src="@Model.images[i]" class="slide" />
		}
	</div>
